// View
// Styles for Views
// --------------------------------------------------

.view-tiles {
  .views-row {
    margin: 0.382em 0 0.618em;
    background: $grayLighter;
    padding: .382em .618em;
  }
  .views-field-title {
    font-weight: 700;
    font-size: $fontSizeLarge;
    line-height: $fontSizeLarge + 5;
  }
}
